<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycx.project.mapper.ApiOrderMapper">

    <resultMap id="BaseResultMap" type="com.ycx.project.model.vo.ApiOrder">
            <id property="id" column="id" />
            <result property="orderSn" column="orderSn" />
            <result property="userId" column="userId" />
            <result property="interfaceInfoId" column="interfaceInfoId" />
            <result property="status" column="status" />
            <result property="orderNum" column="orderNum" />
            <result property="charging" column="charging" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
            <result property="is_delete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,orderSn,userId,interfaceInfoId,status,orderNum,
        charging,create_time,update_time,is_delete
    </sql>
</mapper>
